@model dynamic

@{
    Layout = null;
    ViewBag.Title = "title_test";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
      <h2>title</h2>
</div>
</body>
</html>